body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links,
.intro-sec {
    color: #e5e7eb;
    font-size: 18px;
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.intro {
    background-color: #1F2937;
    display: flex;
    padding: 100px 250px;
    gap: 50px;
}

.intro-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8; 

}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.intro-img img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: 0 top;
}

.signup-btn {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #3882F6;
    padding: 10px 15px;
    max-width: 100px;
    text-align: center;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}

.info-header {
    margin-bottom: 75px;
    font-size: 36px;
    font-weight:800;
    color: #1f2937;

}

.collage {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 5px #3882F6;
    border-radius: 20px;
}

.description {
    padding: 10px 0;
    color: #1f2937;
}
